{{define "logIn"}}
{{template "header"}}
    <main role="main" class="inner cover">
      <h1 class="cover-heading">Добро пожаловать в преподавательский электронный университет</h1>
      <form action="/postLogIn" method="post">
        <input type="text" name = "Login" id = "Login" placeholder="Введите свой логин" class="form-control"><br>
        <input type="text" name = "Password" id = "Password" placeholder="Введите свой пароль" class="form-control"><br>
        <button class="btn btn-warning">Войти</button>
      </form>
    </main>
    {{template "footer"}}
    {{end}}

    
