{{define "new_lect"}}
{{template "header"}}
    <main role="main" class="inner cover">
      <h1 class="cover-heading">Введите данные о новой лекции</h1>
      <form action="/save_lect" method="post">
        <input type="text" name = "module_name" id = "module_name" placeholder="Введите название модуля" class="form-control"><br>
        <input type="text" name = "Theme" id = "Theme" placeholder="Введите тему лекции" class="form-control"><br>
        <input type="text" name = "LectureText" id = "LectureText" placeholder="Введите текст лекции" class="form-control"><br>
        <button class="btn btn-warning">Добавить</button>
      </form>
    </main>
    {{template "footer"}}
    {{end}}

    
