{{define "show_pers_coursePr"}}
{{template "header"}}
    <main role="main" class="inner cover">
        <h4><br></h4>
        <h3> Ваши курсовые проекты : </h3>
        <div class="container" style="padding-left: 400px"> 
            <table>
                <th><h5>Описание</h5></th>
                <th><h5>&nbsp;</h5></th>
                <th><h5>ФИО</h5></th>
                <th><h5>&nbsp;</h5></th>
                {{range . }}
                    <tr>
                        {{$ss := .Crpr.Description}}
                        
                        <td padding="3px" border="1px solid white"><p></p><h4>{{.Crpr.Description}}&nbsp;&nbsp;</h4></p></td>
                        <td>&nbsp;</td>
                        {{range $stud := .Students }}
                            <td padding="3px" border="1px solid white"><p><h4><a href="http://localhost:8080/show_pers_coursePr/{{$stud.Id}}+{{$ss}}">{{$stud.Name}} {{$stud.Surname}} {{$stud.Patronymic}}</a>&nbsp;&nbsp;</h4></p></td>
                        {{end}} 
                        <td>&nbsp;</td>
                    </tr>
                    {{end}}
            </table>
        </div>
    </main>
{{template "footer"}}
{{end}}
