{{define "update_lab"}}
{{template "header"}}
    <main role="main" class="inner cover">
      <h1 class="cover-heading">Введите данные об изменяемой лабораторной</h1>
      <form action="/upd_lab" method="post">
        <input type="text" name = "Description" id = "Description" placeholder="Введите описание предмета" class="form-control"><br>
        <input type="text" name = "ModuleName" id = "ModuleName" placeholder="Введите название модуля" class="form-control"><br>
        <input type="text" name = "LabName" id = "LabName" placeholder="Введите название лабораторной" class="form-control"><br>
        <input type="text" name = "change" id = "change" placeholder="Введите изменяемое поле(LabName, LabText, MaxScore,  MinScore,LabDate,  Deadline)" class="form-control"><br>
        <input type="text" name = "value" id = "value" placeholder="Введите новое значение" class="form-control"><br>
        <button class="btn btn-warning">Изменить</button>
      </form>
    </main>
    {{template "footer"}}
    {{end}}

    
