{{define "update_bc"}}
{{template "header"}}
    <main role="main" class="inner cover" style="color:#212529">
      <h1 class="cover-heading">Введите данные об изменяемом рк</h1>
      <form action="/upd_bc" method="post">
        <input type="text" name = "Description" id = "Description" placeholder="Введите описание предмета" class="form-control"><br>
        <input type="text" name = "ModuleName" id = "ModuleName" placeholder="Введите название модуля" class="form-control"><br>
        <input type="text" name = "Theme" id = "Theme" placeholder="Введите тему рк" class="form-control"><br>
        <input type="text" name = "change" id = "change" placeholder="Введите изменяемое поле(Theme, Questions, MaxScore,  MinScore)" class="form-control"><br>
        <input type="text" name = "value" id = "value" placeholder="Введите новое значение" class="form-control"><br>
        <button class="btn btn-warning">Изменить</button>
      </form>
    </main>
    {{template "footer"}}
    {{end}}

    
