{{define "coursework"}}
{{template "header"}}
<main role="main" class="inner cover">
    <div class="container">
      <h6 class="title" style="text-align:left">
        <a href="/student">Вернуться к курсам</a>
      </h6>
      <div>
        <h2 class="title" style="text-align:left">Курсовая работа</h2>
        <table class="table table-light" style="color: #343a40; border: 1.5px solid #343a40;">
          <tr>
            <td style="background-color:rgb(71, 73, 75); color: #fff">Тип работы</td>
            <td>{{.Description}}</td>
          </tr>
          <tr>  
            <td style="background-color:rgb(71, 73, 75); color: #fff">Дисциплина</td>
            <td>{{.Subject}}</td>
          </tr>
          <tr>
            <td style="background-color:rgb(71, 73, 75); color: #fff">Срок выполнения</td>
            <td>{{.StartDate}} --- {{.Deadline}}</td>
          </tr>
          <tr>
            <td style="background-color:rgb(71, 73, 75); color: #fff">Тема работы</td>
            <td>{{.TitleOfProject}}</td>
          </tr>
          <tr>
            <td style="background-color:rgb(71, 73, 75); color: #fff">Цель работы</td>
            <td>{{.ProjAssignment}}</td>
          </tr>
        </table>
        <h5 class="title" style="text-align:left">Защита работы</h5>
        <table class="table table-light" style="color: #343a40; border: 1.5px solid #343a40;">  
          <tr>  
            <td style="background-color:rgb(71, 73, 75); color: #fff" >Дата</td>
            <td>{{.DateOfPassing}}</td>
          </tr>
          <tr>  
            <td style="background-color:rgb(71, 73, 75); color: #fff" >Оценка</td>
            <td>{{.RecievedScore}}</td>
          </tr>    
        </table>
      </div>
    </div>
</main>
</body>
</html>
{{end}}