{{define "student_main"}}
{{template "header"}}
<main role="main" class="inner cover">
  <p class="lead" style=" margin-bottom: 30px">Добро пожаловать в электронный дневник студента!</p>
  <div class="student-info" style="outline-style: double; margin-bottom: 50px">
    <p class="lead"> Студент:    {{.StudentInfo.Surname}} {{.StudentInfo.Name}} {{.StudentInfo.Patronymic}}</p>
    <p class="lead"> Группа: {{.StudentInfo.Group}}</p>
    <h6 class="title" style="text-align:center; padding: 20px;">
      <a style="color:#fff" href="/logout">Выйти</a>
    </h6>
  </div>
  <p class="lead" style="font-size: 200%; margin-top: 20px" >Текущие курсы:</p>
  <div class="lead">
    {{range $item := .CourseInfo}}
        <div>
          <a href="{{$item.CourseLink}}" class="btn btn-lg btn-light fw-bold" style="margin-bottom: 20px;">{{$item.CourseName}}</a>
        </div>
    {{end}}
    <div>
      <a href="/coursework" class="btn btn-lg btn-light fw-bold" style="margin-bottom: 20px;">КУРСОВАЯ РАБОТА</a>
    </div>
  </div>
  <p class="lead" style="font-size: 200%; margin-top: 30px">Очередь на сдачу лабораторных работ</p>
  <div>
    <a href="http://t.me/stud_queue_bot" class="btn btn-lg btn-light fw-bold" style="margin-top: 10px; margin-bottom: 20px;">ЗАПИСАТЬСЯ</a>
  </div>
</main>
</body>
</html>
{{end}}
    